<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    {{ head }}
    <title>{{ head_title}}</title>
    {{ styles }}
    {{ scripts }}
  </head>
  <body>
    {{ page_top }}
    {{ page }}
    {{ scripts_bottom }}
  </body>
</html>
